@use '../../styles/colors.scss';

.bk_text-field {
  // Default width
  max-width: 200px;
  display: flex;
  align-items: center;

  & .icon {
    margin-right: -25px;
    z-index: 1;
    margin-top: -2px;
  }

  & .icon-after {
    margin-left: auto;
    z-index: 1;
    margin-top: -2px;
    position: relative;
    right: 25px;
  }

  &.disabled {
    input {
      &:active {
        outline: none;
      }
    }
  }

  & input {
    display: flex;
    cursor: text;

    border: 1px solid colors.$grey;
    border-radius: 6px;
    appearance: none;

    padding-left: 5px;

    z-index: 0;

    color: colors.$primary;

    &:active {
      outline: 2px solid colors.$bg_active;
    }

    &:focus {
      outline: 2px solid colors.$bg_active;
    }

    width: 100%;
    height: 30px;
  }

  &.medium {
    & input {
      height: 34px;
      font-size: 1em;
    }
  }

  &.large {
    & input {
      height: 40px;
      font-size: 1.6em;
    }
  }

  &.filled {
    & input {
      border-radius: 10px;
      background-color: colors.$highlight_grey_light;
    }

    color: rgba(colors.$primary_light, 0.2);
  }

  &.has_icon input {
    padding-left: 26px;
  }

  &.has_icon.icon-after input {
    padding-right: 26px;
  }
}

.bk_text-field-label {
  margin-bottom: 3px;
}
