@use '../../styles/colors.scss';

.bk_tab {
  color: colors.$primary !important;

  &.active {
    background-color: colors.$bg_active !important;
    color: white !important;
    box-shadow: 0px 0px 4px  colors.$shadow_color;
  }
}
