@use '../../styles/colors.scss';

.bk_table {
  width: 100%;
  text-align: left;

  border: 1px solid transparent;
  border-collapse: collapse;

  tr {
      $radius: 6px;

      padding: 2px 4px;
      border-radius: $radius;

      td:first-child {
        border: 1px solid transparent;
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
      }

      td:last-child {
        border: 1px solid transparent;
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
      }

      &.flatBottom {
        td:first-child {
          border-bottom-left-radius: 0;
        }

        td:last-child {
          border-bottom-right-radius: 0;
        }
      }

      &.flatTop {
        td:first-child {
          border-top-left-radius: 0;
        }

        td:last-child {
          border-top-right-radius: 0;
        }
      }

      td {
        padding: 6px 8px;
      }

      &:nth-child(even):not(.active) {
        background-color: colors.$highlight_grey;
      }
  }

  &.selectable {
    tbody {
      tr {
        &.active {
          background-color: colors.$bg_blue;
          color: white;

          td {
            color: white;
            background-color: colors.$bg_blue;
          }
        }
      }
    }
  }
}
