@use '../../styles/colors.scss';

.bk_navigation_sidebar {
  padding: 20px 15px 40px;

  width: 275px;

  height: 100vh;
  border-right: 1px solid colors.$grey_dark;

  background-color: colors.$bg_primary_light;

  .bk_title {
    margin-bottom: 3rem;
  }

  .bk_navigation_item + .bk_navigation_item {
    margin-top: 0.2rem;
  }
}
