@use '../../styles/colors.scss';
@use '../../styles/borders.scss';

.bk_tabs {
  padding: 3px;

  border: 1px solid transparent;
  border-radius: borders.$bd_radius_xl;

  background-color: colors.$highlight_grey_light;

  width: fit-content;

  display: flex;
}
