// Blues
$bg_blue: #1890ff;
$bg_blue_light: #3fa4ff;
$bg_blue_dark: #2276c7;

// Greys

$grey: #cecece;
$grey_light: #f5f5f5;
$grey_light2: #e8e8e8;
$grey_dark: #e0e0e0;

// Light/Dark mode

$primary: #000;

$bg_primary: #ffffff;
$bg_primary_light: #f5f5f5;
$bg_primary_dark: #dcdcdc;

$bg_secondary: #0bdaba;
$bg_secondary_light: #33e3c3;
$bg_secondary_dark: #0eb79c;

$bg_danger: #f5222d;
$bg_danger_light: #ff424c;
$bg_danger_dark: #cb1c25;

// RGBA Highlights

$highlight_red: rgba(255, 0, 0, 0.15);
$highlight_green: rgba(0, 255, 0, 0.15);
$highlight_blue: rgba(0, 0, 255, 0.15);
$highlight_yellow: rgba(255, 255, 0, 0.15);
$highlight_magenta: rgba(255, 0, 255, 0.15);

$highlight_grey_light: rgba(200, 200, 200, 0.15);
$highlight_grey_dark: rgba(100, 100, 100, 0.15);
$highlight_grey: rgba(150, 150, 150, 0.15);
