@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.button_bold {
  font-weight: bold;
}

.label {
  font-size: 0.9em;
  font-weight: bold;
}

.nav_label {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.semibold {
  font-weight: 550;
}

.bold {
  font-weight: 600;
}

.extrabold {
  font-weight: 700;
}

.title-bold {
  font-family: "Tahoma", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle-bold {
  font-family: "Tahoma", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
