body {
  font-family: "Verdana", Verdana, Arial, sans-serif;
  font-size: 14px;
}

.semibold {
  font-weight: 550;
}

.bold {
  font-weight: 600;
}

.extrabold {
  font-weight: 700;
}

.title-bold {
  font-family: "Tahoma", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle-bold {
  font-family: "Tahoma", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
