@use '../../styles/colors.scss';

.bk_vertical_separator {
  width: 1px;
  margin: auto 4px;
  height: 90%;
  background-color: colors.$highlight_grey;
}

.bk_horizontal_separator {
  height: 1px;
  margin: 4px auto;
  width: 90%;
  background-color: colors.$highlight_grey;
}
